.friends-window{
    width: 244px;
    height: 937px;
    border-right: 3px solid black;
    position: absolute;
    
}

.block-info{
    display: flex;
    align-items: center;
    padding-left: 5px;
    font-weight: 700;
    font-size: 26px;
    color: #DCE4E7;
    
}

.block-info img{
    height: 40px;
    width: 40px;
}
.block-info p{
    margin-left: 10px;
    opacity: 0.7;
}

.allFriends{
    height: 720px;
    display: flex;
    flex-direction: column;
    
    
}
.allFriends p{
    color: #DCE4E7;
    font-size: 20px;
    
}

.friends-list{
    margin-top: -10px;
    margin-left: 10px;
}


.friends-list .user{
    margin-top: 13px;
    height: 40px;
    width: 300px;
    display: flex;
    align-items: center;
}

.friends-list .user img{
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.friend-name{
    margin-left: 10px;
}

.title-of-field{
    margin-left: 10px;
}

.no-friends{
    font-size: 10px;
    opacity: 0.7;
}

/* 123 */

.spinner{
    width:100px;
    height: 100px;
}

.user-avatar{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;;
}

.user-avatar p{
    padding-left: -20px;
}
