.friends-window{
    width: 300px;
    height: 937px;
    border-right: 3px solid black;
}

.block-info{
    display: flex;
    align-items: center;
    padding-left: 5px;
    font-weight: 700;
    font-size: 26px;
    color: #DCE4E7;
    
}

.block-info img{
    height: 40px;
    width: 40px;
}
.block-info p{
    margin-left: 10px;
    opacity: 0.7;
}

.allFriends{
    height: 745px;
    display: flex;
    flex-direction: column;
}
.allFriends p{
    color: #DCE4E7;
    font-size: 20px;
    margin-left: 5px;
}

.friends-list{
    margin-top: -10px;
    margin-left: 10px;
}


.friends-list .user{
    margin-top: 13px;
    height: 40px;
    width: 300px;
    display: flex;
    align-items: center;
}

.friends-list .user img{
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.friends-list .user p{
    margin-left: 10px;
}


.active-user-info{
    position: absolute;
    bottom: 0;
    width: 300px;
    height: 80px;
    color: #DCE4E7;
    background-color: rgba(0,0,0, .2);

}

.active-user-info p{
    opacity: 0.9;
}

.active-user-info img{
    height: 50px;
    width: 50px;
    border-radius: 100%
}

.user-avatar-name{
    display: flex;
    align-items: center;
    margin-top: 13px;
    margin-left: 5px;
}

.user-name{
    margin-left: 10px;
    margin-top: 0;
}

.active-user-id{
    margin-top: -20px;
    margin-left: 65px;
}

.options{
    width: 35px;
    height: 45px;
    position: absolute;
    display: flex;
    right: 10px;
    top: 25px;
    cursor: pointer;

}
.options img{
   height: 30px;
   width: 30px;
}