
.registr-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.registr{
    height: 500px;
    width: 500px;
    margin-top: 150px;
}

form{
    margin-top: 30px;
}

h3{
    color: #DCE4E7;
}


.inputs input{
    color:#FF9E14;
}

.inputs input:focus{
    color:#DCE4E7
}


.registr-buttons{
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin: 0 auto;
    margin-top: 20px;
}

.registr-buttons button{
    transition: 0.3s;
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    background-color:#FF9E14;
    width: 105px;
    border-radius: 5px;
    height: 30px;
    font-weight: 500;
}

.registr-buttons button:hover{
    color: #DCE4E7;
}

.registr-buttons button:focus{
    background-color: #FF9E14;
}

.registr-buttons a{
    transition: 0.3s;
    color: #DCE4E7;
}
.registr-buttons a:hover{
    color: #FF9E14;
}

.row{
    display: flex;
}

.row img{
    height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-left: -35px;
    cursor: pointer; 
}

.error-block{
    display: flex;
    height: 25px;
}

.error-block img{
    height: 25px;
    width: 25px;
    margin-top: 12px;
}

.error{
    color:#EE404C;
    font-size: 15px;
    margin-left: 10px;
}

.succes{
    color: #7FEC34;
    font-size: 15px;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
     box-shadow: 0 0 0 30px #25272A inset !important;
     -webkit-text-fill-color: #FF9E14;
}