.add-friend-section{
    width: 1200px;
    height: 850px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.find-options-form{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    width: 1000px;
    border-bottom: 2px solid #131314;
    padding-bottom: 30px;
}

.add-friend-input{
    width: 900px;
    height: 50px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #18191b;
    padding: 10px;
    color: white;
    font-size: 18px;
    transition: 0.5s;
}

.add-friend-input:focus{
    outline: 2px solid #313435;
    color: #FF9E14;
}

.add-friend-input::placeholder{
    color: #3f4547;
}

.find-options-form button{
    background-color: #FF9E14;
    font-weight: 600;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.find-options-form button:hover{
    color: white;
    
}

.founded-peoples{
    width: 1200px;
    height: 720px;
    position: absolute;
    top: 120px;
}

.invalid-input{
    border: 2px solid #F50E0E;
    outline: 1px solid #F50E0E;
}
.p-error{
    margin-left: 5px;
    font-size: 15px;
    color: #FF9E14;
}